{% extends "base.html" %}
{% load sekizai_tags staticfiles pbsmm_tags %}

{% block content %}
<h1> this is the {% if all_seasons %} Global {% else %}{{ parent_show.title }}{% endif %} season listing page </h1>
<h2>THIS IS THE SKELETON SEASON DETAIL PAGE FROM THE PBSMMAPI APP</h2>


{% if all_seasons %}
<p>We probably won't have a global seasons page.</p>
<p>Other objects might have a global listing page, though.</p>
{% endif %}
You are {% if not is_logged_in %} NOT {% endif %} logged in.   {{ foo }}

<h2> Seasons </h2>
    <table style="width: 100%;">
        <tr style="background-color: #999;">
            <th>Show</th>
            <th>Season #</th>
            <th>Pub. Status</th>
        </tr>
    {% for season in season_list %}
        <tr>
            <td><a href="{% url 'show-detail' season.show.slug %}">{{ season.show.title }}</a></td>
            <td><a href="{% url 'season-detail' season.pk %}">{{ season.ordinal }}</a></td>
            <td>{{ season.show_publish_status }}</td>
        </tr>
    {% endfor %}
    <table>
{% endblock %}
