{% extends "base.html" %}
{% load sekizai_tags staticfiles pbsmm_tags %}

{% block content %}
<h1>Episode Detail Page - {{ episode.title }}</h1>
<h2>THIS IS THE SKELETON EPISODE DETAIL PAGE FROM THE PBSMMAPI APP</h2>

<h2>Fields</h2>

<table width="100%" border="2">
    <tr><th>Field</th><th>Value</th></tr>
    <tr><td> Description (short) </td><td> {{ episode.description_short }} </td></tr>
    <tr><td> Description (long) </td><td> {{ episode.description_long }} </td></tr>
    <tr><td> Funder Message </td><td> {{ episode.funder_message }} </td></tr>
    <tr><td> Publicly Available? </td><td> {{ episode.is_publicly_available }} </td></tr>
    <tr><td> NOLA </td><td> {{ episode.nola }} </td></tr>
    <tr><td> Ordinal </td><td> {{ episode.ordinal }} </td></tr>
    <tr><td> Premiered On </td><td> {{ episode.premiered_on }} </td></tr>
    <tr><td> Publish Status </td><td> {{ episode.show_publish_status }} </td></tr>
    <tr><td> Season </td><td> {{ episode.season.printable_title }} </td></tr>
    <tr><td> Segment </td><td> {{ episode.segment }} </td></tr>
    <tr><td> Short Episode Code </td><td> {{ episode.short_episode_code }} </td></tr>
    <tr><td> Slug </td><td> {{ episode.slug }} </td></tr>
    <tr><td> Title </td><td> {{ episode.title }} </td></tr>
</table>

<h3>EPISODE ASSETS</h3>

{% if episode.assets.count %}
<p>The highlighted on is the one that would appear as the default "episode.default_asset".
It can be changed in the EpisodeAsset admin by changing the "OVERRIDE DEFAILT ASSET" to "yes".</p>

<table width="100%" border="2">
    <tr><th>Title</th><th>Type</th><th>Duration</th><th>Admin</th></tr>
    {% for asset in episode.assets.all %}
        <tr {% if asset == episode.default_asset %}style="background-color: #FF0;"{% endif %}>
            <td>{{ asset.title }}</td>
            <td>{{ asset.object_type }}</td>
            <td>{{ asset.formatted_duration }}</td>
            <td><a href="/admin/episode/pbsmmepisodeasset/{{ asset.id }}/change/">Admin</a></td>
        </tr>
    {% endfor %}
</table>

<h4>Default Asset Player</h4>

{{ episode.default_asset.player_code }}
<br/>
<div style="width: 640px; height: 360px;">
{{ episode.default_asset.player_code|safe }}
</div>
{% else %}
<p>There are no assets.</p>
{% endif %}

<h3>IMAGES</h3>



{% if not episode.images %}
    <b>No images?</b>
{% else %}
    Images: {{ episode.images }}
    <br>
    <p>Here are the images associated with the Episode
        I need to create a template tag that can read the stored JSON and return things.
        But there are also properties for getting the canonical image.</p>


<h4>Image List</h4>
{% comment %} I'm being lazy and just spitting out the table I made for the admin.  It has been a long day.{% endcomment %}
{{ episode.pretty_image_list|safe }}
<br/>
Canonical Image Type Override:  {{ episode.canonical_image_type_override }}
<br/>
Canonical Image: <img src="{{ episode.canonical_image }}">

{% endif %}

{% endblock content %}
