{% extends "base.html" %}
{% load cms_tags sekizai_tags staticfiles pbsmm_tags  %}

{% block content %}
<h1> this is the episode listing page </h1>
<h2> THIS IS THE EPISODE LISTING PAGE FROM THE PBSMMAPI APP </h2>

You are {% if not is_logged_in %} NOT {% endif %} logged in.  

<h2> Episodes </h2>
    <table style="width: 100%;">
        <tr style="background-color: #999;">
            <th>Title</th>
            <th>Show</th>
            <th>Season</th>
            <th>Pub. Status</th>
        </tr>
    {% for episode in episode_list %}
        <tr>
            <td><a href="{% url 'episode-detail' episode.slug %}">{{ episode.title }}</a></td>
            <td><a href="{% url 'show-detail' episode.season.show.slug %}">{{ episode.season.show.title }}</a></td>
            <td><a href="{% url 'season-detail' episode.season.ordinal %}">{{ episode.season.ordinal }}</a></td>
            <td>{{ episode.show_publish_status }}</td>
        </tr>
    {% endfor %}
    <table>
{% endblock %}