{% extends "base.html" %}
{% load cms_tags sekizai_tags staticfiles  %}

{% block content %}
<h1> this is the show listing page </h1>

You are {% if not login %} NOT {% endif %} logged in.   {{ foo }}

<h2> Shows </h2>
    <table style="width: 100%;">
        <tr style="background-color: #999;">
            <th>Title</th>
            <th>Pub. Status</th>
            <th>Live as of</th>
            <th>Avail to Public</th>
        </tr>
    {% for show in show_list %}
        <tr>
            <td><a href="{% url 'show-detail' show.slug %}">{{ show.title }}</a></td>
            <td>{{ show.show_publish_status }}</td>
            <td>{{ show.live_as_of }}</td>
            <td>{{ show.available_to_public }}</td>
        </tr>
    {% endfor %}
    <table>
{% endblock %}