{% extends "base.html" %}
{% load sekizai_tags staticfiles pbsmm_tags %}

{% block content %}
<h1> this is the show listing page </h1>
<h2>THIS IS THE SPECIAL LISTING PAGE FROM THE PBSMMAPI APP</h2>
You are {% if not is_logged_in %} NOT {% endif %} logged in. 

<h2> Specials </h2>
    <table style="width: 100%;">
        <tr style="background-color: #999;">
            <th>Title</th>
            <th>Show</th>
            <th>Pub. Status</th>
        </tr>
    {% for special in special_list %}
        <tr>
            <td><a href="{% url 'special-detail' special.slug %}">{{ special.title }}</a></td>
            <td><a href="{% url 'show-detail' special.show.slug %}">{{ special.show.title }}</a></td>
            <td>{{ special.show_publish_status }}</td>
        </tr>
    {% endfor %}
    <table>
{% endblock %}
