{% extends "base.html" %}
{% load cms_tags sekizai_tags staticfiles pbsmm_tags %}

{% block content %}
<h1>Special Detail Page - {{ special.title }}</h1>
<h2>THIS IS THE SPECIAL DETAIL PAGE FROM THE PBSMMAPI APP</h2>
<h2>Fields</h2>

<table width="100%" border="2">
    <tr><th>Field</th><th>Value</th></tr>
    <tr><td> Description (short) </td><td> {{ special.description_short }} </td></tr>
    <tr><td> Description (long) </td><td>  {{ special.description_long }} </td></tr>
    <tr><td> Publicly Available? </td><td> {{ special.is_publicly_available }} </td></tr>
    <tr><td> Language </td><td> {{ special.language }} </td></tr>
    <tr><td> NOLA </td><td> {{ special.nola }} </td></tr>
    <tr><td> Premiered On </td><td> {{ special.premiered_on }} </td></tr>
    <tr><td> Publish Status </td><td> {{ special.show_publish_status }} </td></tr>
    <tr><td> Short Premiere Date </td><td> {{ special.short_premiere_date }} </td></tr>
    <tr><td> Show </td><td> {{ special.show.slug }} </td></tr>
    <tr><td> Title </td><td> {{ special.title }} </td></tr>    
</table>

<h3>SPECIAL ASSETS</h3>

{% if special.assets.count %}
<p>The highlighted on is the one that would appear as the default "special.default_asset".
It can be changed in the SpecialAsset admin by changing the "OVERRIDE DEFAILT ASSET" to "yes".</p>

<table width="100%" border="2">
    <tr><th>Title</th><th>Type</th><th>Duration</th><th>Admin</th></tr>
    {% for asset in special.assets.all %}
        <tr {% if asset == special.default_asset %}style="background-color: #FF0;"{% endif %}>
            <td>{{ asset.title }}</td>
            <td>{{ asset.object_type }}</td>
            <td>{{ asset.formatted_duration }}</td>
            <td><a href="/admin/special/pbsmmspecialasset/{{ asset.id }}/change/">Admin</a></td>
        </tr>
    {% endfor %}
</table>

<h4>Default Asset Player</h4>

{{ special.default_asset.player_code }}
<br/>
<div style="width: 640px; height: 360px;">
{{ special.default_asset.player_code|safe }}
</div>
{% else %}
<p>There are no assets.</p>
{% endif %}

<h3>IMAGES</h3>



{% if not special.images %}
    <b>No images?</b>
{% else %}
    Images: {{ special.images }}
    <br>
    <p>Here are the images associated with the Special
        I need to create a template tag that can read the stored JSON and return things.
        But there are also properties for getting the canonical image.</p>


<h4>Image List</h4>
{% comment %} I'm being lazy and just spitting out the table I made for the admin.  It has been a long day.{% endcomment %}
{{ special.pretty_image_list|safe }}
<br/>
Canonical Image Type Override:  {{ special.canonical_image_type_override }}
<br/>
Canonical Image: <img src="{{ special.canonical_image }}">

{% endif %}

{% endblock content %}